@if(formVisible) {
    <!-- on affiche le formulaire -->
    <app-add-assignment></app-add-assignment>
} @else {
    <h2>{{titre}}</h2>
    <!-- Bouton pour afficher le formulaire -->
    <button mat-flat-button color="accent"
       (click)="onAddAssignmentBtnClick()"
    >   Ajouter Assignment
    </button>

    <!-- on affiche la liste -->
    <mat-list>
        <mat-divider></mat-divider>
            @for(a of assignments; track a.nom) {
                <div (click)="assignmentClique(a)">
                    <h3 mat-sub-header>{{a.dateDeRendu| date:'dd/MM/YYYY'}}</h3>
                    @if(a.rendu) {
                        <mat-list-item appRendu>
                        Le devoir {{a.nom}} a été rendu.
                        </mat-list-item>    
                    } @else {
                        <mat-list-item appNonRendu>
                            Le devoir {{a.nom}} EST ENCORE A RENDRE !!!
                        </mat-list-item>
                    }
                </div>
                    <mat-divider></mat-divider>
            }
    </mat-list>

    @if(assignmentSelectionne) {
        <h3>{{assignmentSelectionne.nom}}</h3>
    }

    <app-assignment-detail 
        [assignmentTransmis]="assignmentSelectionne"
    >
    </app-assignment-detail>
}