table, td, tr {
    border: 1px solid black;
}

.rendu {
    background-color: lightgreen;
    color:green
}

.nonRendu {
    background-color: lightcoral;
    color:red
}

.container {
    display:flex;
    flex-direction: column;
    margin:5px;
 }

 .ajouterBtn {
    align-self: flex-end;
 }
 